<form #miForm="ngForm">
  <div>
    <label for='id'>Código: </label>
    <input type='number' id='id' name='id' [(ngModel)]="cli.Elemento.id" #id='ngModel' required min='0' >
    <output class="error" [hidden]="!id.hasError('required') || miForm.pristine"><myErrors [message]="errorObligatorio"></myErrors></output>

  </div>
  <div>
    <label for='nombre'>Nombre: </label>
    <input type='text' id='nombre' name='nombre' [(ngModel)]="cli.Elemento.nombre" #nombre='ngModel'
    required minlength="2" maxlength="10">

    <output class="error" [hidden]="!nombre.errors?.minlength && !nombre.errors?.maxlength"><myErrors [message]="errorTamano"></myErrors></output>

  </div>
  <div>
    <label for='apellidos'>Apellidos: </label>
    <input type='text' id='apellidos' name='apellidos' [(ngModel)]="cli.Elemento.apellidos" #apellidos='ngModel'
    minlength="2" maxlength="10">
    <output class="error" [hidden]="!apellidos.errors?.minlength && !apellidos.errors?.maxlength"><myErrors [message]="errorTamano"></myErrors></output>

  </div>
  <div>
    <label for='correo'>Correo: </label>
    <input type='email' id='correo' name='correo' [(ngModel)]="cli.Elemento.correo" #correo='ngModel'
    maxlength="100" email>
    <output class="error" [hidden]="!correo.errors?.email"><myErrors [message]="errorEmail"></myErrors></output>

  </div>

  <div>
      <label for="direccion">Dirección</label>
      <div>
          <input type="radio" id="direccion" name="direccion" checked value="1"  [(ngModel)]="cli.Elemento.direccion" #direccion='ngModel'>
          Casa
      </div>
      <div>
          <input type="radio" id="direccion" name="direccion" value="2"[(ngModel)]="cli.Elemento.direccion" #direccion='ngModel' >
          Trabajo
      </div>
  </div>
  <div>
      <label for="activo">Activo</label>
      <input type="checkbox" id="activo" name="active" value="true" checked [(ngModel)]="cli.Elemento.activo" #activo='ngModel'>
  </div>
  <div>
      <label for="create_date">F. Creación</label>
      <input type="date" id="create_date" name="create_date" [(ngModel)]="cli.Elemento.activo" #activo='ngModel'>
  </div>
  <myButtons (send)="cli.send()" (cancel)="cli.cancel()"></myButtons>

</form>
