
<article class="calculator">
    <input disabled type="text" [(ngModel)]="buffer" class="calc-numbers" value="0" />
<p></p>
    <div class="calculator-buttons">
      <button class="btn is-clear span-2 orange operator" (click)="handleSymbol('C')">C</button>
      <button class="btn orange operator" (click)="handleSymbol('←')">&larr;</button>
      <button class="btn orange operator" (click)="handleSymbol('/')">&divide;</button>
      <button class="btn" (click)="handleNumber('7')">7</button>
      <button class="btn" (click)="handleNumber('8')">8</button>
      <button class="btn" (click)="handleNumber('9')">9</button>
      <button class="btn orange operator" (click)="handleSymbol('x')">x</button>

      <button class="btn" (click)="handleNumber('4')">4</button>
      <button class="btn" (click)="handleNumber('5')">5</button>
      <button class="btn" (click)="handleNumber('6')">6</button>
      <button class="btn orange" (click)="handleSymbol('-')">-</button>

      <button class="btn" (click)="handleNumber('1')">1</button>
      <button class="btn" (click)="handleNumber('2')">2</button>
      <button class="btn" (click)="handleNumber('3')">3</button>
      <button class="btn orange operator" (click)="handleSymbol('+')">+</button>
      <button class="btn span-3" (click)="handleNumber('0')">0</button>
      <button class="btn orange operator" (click)="handleSymbol('=')">=</button>
    </div>
  </article>

