<h1>Libro</h1>
<form #miForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="form-label" for="id">Código:</label>
      <input class="form-control" [class.is-invalid]="id.invalid && miForm.dirty" type="number" name="id" id="id"
        [(ngModel)]="VM.Elemento.id" #id="ngModel" required min="0">
      <div class="invalid-feedback" [hidden]="!id.hasError('required') || miForm.pristine">Es obligatorio</div>
    </div>

  </div>
  <myButtons (send)="VM.send()" [send-disabled]="miForm.invalid" (cancel)="VM.cancel()"></myButtons>

</form>
