

  <h1 class="text-primary">Tablon de Noticias</h1>
  <div class="row mb-2">
    <div class="col-md-4" *ngFor="let item of VM.Listado | paginate: { itemsPerPage: 6, currentPage: page }">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3>
            <a class="text-primary" >{{item.titulo | elipsis:20}}</a>
          </h3>
          <div >{{item.fecha }}</div>
          <p class="card-text mb-auto">{{item.texto | elipsis:20}}</p>
          <a class="text-info" [routerLink]="['/blog', item.id]">Leer mas</a>
        </div>
        <img *ngIf="item.fotourl" class="card-img-right flex-auto d-none d-lg-block" data-src="{{item.fotourl}}">
      </div>

    </div>

  </div>
  <button type="button" class="d-grid gap-2 col-6 mx-auto" routerLink="add">Añadir articulo..</button>
<br>
<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
