<div class="card">
  <div class="card-body">
    <div class="d-md-flex align-items-center">
      <div>
        <h4 class="card-title">
          Catalogo
        </h4>
        <h6 class="card-subtitle">Algunas de nuestras peliculas..</h6>
      </div>
      <div class="ml-auto">
        <select class="custom-select b-0">
          <option selected="">January 2020</option>
          <option value="1">February 2020</option> <!--No implementado-->
          <option value="2">March 2020</option>
          <option value="3">April 2020</option>
        </select>
      </div>
    </div>

  </div>
  <div class="table-responsive">
    <table class="table v-middle mb-0">
      <thead>
        <tr>
          <th class="border-top-0 font-medium border-bottom-0"></th>
          <th class="border-top-0 font-medium border-bottom-0"></th>
          <th class="border-top-0 font-medium border-bottom-0">Titulo</th>
          <th class="border-top-0 font-medium border-bottom-0"></th>
          <th class="border-top-0 font-medium border-bottom-0">Descripcion</th>
          <th class="border-top-0 font-medium border-bottom-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let ts of VM.Listado; let i=index;'>

 <td *ngIf="i === 0|| i===1|| i===2|| i===3|| i===4">


        </td>
        <td *ngIf="i === 0|| i===1|| i===2|| i===3|| i===4"></td>
        <td *ngIf="i === 0|| i===1|| i===2|| i===3|| i===4">{{ts.description}}</td>
        <td *ngIf="i === 0|| i===1|| i===2|| i===3|| i===4">
        </td>
        <td *ngIf="i === 0|| i===1|| i===2|| i===3|| i===4">{{ts.title}}</td>
        <td *ngIf="i === 0|| i===1|| i===2|| i===3|| i===4"></td>
        <td *ngIf="i === 0|| i===1|| i===2|| i===3|| i===4">

        </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>
