<div class="card">
  <div class="card-body">
    <div class="d-md-flex align-items-center">
      <div>
        <h4 class="card-title">
          Catalogo
        </h4>
        <h6 class="card-subtitle">Actores en carta:</h6>
      </div>

  </div>
  <div class="table-responsive">
    <table class="table v-middle mb-0">
      <thead>
        <tr>
          <th class="border-top-0 font-medium border-bottom-0"></th>
          <th class="border-top-0 font-medium border-bottom-0"></th>
          <th class="border-top-0 font-medium border-bottom-0">Nombre</th>
          <th class="border-top-0 font-medium border-bottom-0"></th>
          <th class="border-top-0 font-medium border-bottom-0">Apellidos</th>
          <th class="border-top-0 font-medium border-bottom-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let ts of VM.Listado | paginate:{itemsPerPage:5,currentPage: page}'>

 <td >
        </td>
        <td ></td>
        <td routerLink="{{ts.id}}" >{{ts.nombre}}</td>
        <td>
        </td>
        <td>{{ts.apellidos}}</td>
        <td></td>
        <td>

        </td>


        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" routerLink="add"><i class="fas fa-plus"></i> Añadir</button>
  </div>
</div>
<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
